# Configuration file for ImageJ plugin "Plugin_Template".
# "Plugin_Template"  is the name of the template and should be updated 
# according to plugin name. Remember that ImageJ plugin names should contain 
# an underscore character ("_").
#
# Syntax for plugins.config file:
# * Comments starts with #
# * Each entry is menuname, "Command text", classname

Plugins>Digital Shapes, "Fill Disk", net.ijt.digishapes.plugins.FillDisk2D
Plugins>Digital Shapes, "Fill Ellipse", net.ijt.digishapes.plugins.FillEllipse2D
Plugins>Digital Shapes, "Fill Rotated Square", net.ijt.digishapes.plugins.FillRotatedSquare2D
Plugins>Digital Shapes, "Fill Oriented Box", net.ijt.digishapes.plugins.FillOrientedBox2D
Plugins>Digital Shapes, "Fill Capsule (2D)", net.ijt.digishapes.plugins.FillCapsule2D
Plugins>Digital Shapes, "-"
Plugins>Digital Shapes, "Fill Ball", net.ijt.digishapes.plugins.FillBall3D
Plugins>Digital Shapes, "Fill Ellipsoid", net.ijt.digishapes.plugins.FillEllipsoid3D
Plugins>Digital Shapes, "Fill Cube", net.ijt.digishapes.plugins.FillCube3D
Plugins>Digital Shapes, "Fill Cuboid", net.ijt.digishapes.plugins.FillOrientedBox3D
Plugins>Digital Shapes, "Fill Cylinder", net.ijt.digishapes.plugins.FillCylinder3D
Plugins>Digital Shapes, "Fill Centered Cylinder", net.ijt.digishapes.plugins.FillCenteredCylinder3D
Plugins>Digital Shapes, "Fill Capsule (3D)", net.ijt.digishapes.plugins.FillCapsule3D
